Repository pobluesky/customer-inquiry-system, pull requests merged in 2024-08, with the labels that each got.

#18 Be feat#73 syj review crud
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/pobluesky/backend/domain/review/dto/request/ReviewCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/review/dto/request/SalesInfoDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/review/dto/response/ReviewResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/ContractType.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/Review.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/SalesInfo.java
  backend/src/main/java/com/pobluesky/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/CustomerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/ManagerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/request/CustomerUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/request/ManagerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/CustomerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/ManagerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Customer.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Manager.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/ManagerRole.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/CustomerService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  frontend/src/pages/inq/Inq.js
Labels: Backend

#17 Be feat#77 bjy quality domain crud
  backend/src/main/java/com/pobluesky/backend/domain/quality/controller/QualityController.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityReviewInfoCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityReviewInfoUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/response/QualityResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/response/QualityReviewInfoResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/entity/Quality.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/entity/QualityReviewInfo.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/repository/QualityRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/service/QualityService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#20 Revert "Be feat#77 bjy quality domain crud"
  backend/src/main/java/com/pobluesky/backend/domain/quality/controller/QualityController.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityReviewInfoCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityReviewInfoUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/response/QualityResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/response/QualityReviewInfoResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/entity/Quality.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/entity/QualityReviewInfo.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/repository/QualityRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/service/QualityService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#24 Fe feat#80 bhj offer sheet 구현
  backend/src/main/java/com/pobluesky/backend/domain/voc/controller/VocController.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/entity/Voc.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/repository/VocRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/service/VocService.java
  frontend/src/assets/css/icons/arrow.svg
  frontend/src/assets/css/icons/person.svg
  frontend/src/components/atoms/Header.js
  frontend/src/components/atoms/Path.js
  frontend/src/components/mocules/Header.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/inq/Inq.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc/Voc.js
  frontend/src/plugins/ToolbarPlugin.js
Labels: Frontend

#29 Fe feat#80 bhj offersheet구현
  backend/src/main/java/com/pobluesky/backend/domain/voc/entity/Voc.java
  frontend/src/assets/css/Editor.css
  frontend/src/assets/css/icons/toggle_closed.svg
  frontend/src/assets/css/icons/toggle_opened.svg
  frontend/src/components/atoms/Button.js
  frontend/src/components/atoms/Category.js
  frontend/src/components/atoms/Theme.js
  frontend/src/components/atoms/Toggle.js
  frontend/src/components/mocules/Header.js
  frontend/src/components/mocules/RequestBar.js
  frontend/src/components/mocules/TextEditor.js
  frontend/src/pages/inq/Inq.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
Labels: Frontend, Backend

#19 Be feat#73 ksy inquiry crud
  .vscode/settings.json
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Country.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Industry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/InquiryType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Progress.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/pobluesky/backend/domain/review/dto/request/ReviewCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/Review.java
  backend/src/main/java/com/pobluesky/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/CustomerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/ManagerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/ManagerRole.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/entity/Voc.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/java/com/pobluesky/backend/global/util/ResponseFactory.java
  backend/src/main/java/com/pobluesky/backend/global/util/model/JsonResult.java
Labels: Backend

#31 Be feat#82 syj line item domain
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/controller/LineItemController.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/CarLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/LineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/LineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/CoatingAnotherCondition.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/CoatingCondition.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/CoatingUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/Direction.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/IxPlate.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/Kind.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/Lab.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/Order.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/PostTreatment.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/RaAnotherUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/RaUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/Regulation.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/StandardOrg.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/CarLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/ContractType.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/Review.java
  backend/src/main/java/com/pobluesky/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/CustomerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/ManagerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Customer.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Manager.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/ManagerRole.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/User.java
  backend/src/main/java/com/pobluesky/backend/global/BaseEntity.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#32 Fe feat#85 bhj offersheet 구현
  frontend/README.md
  frontend/config/webpack.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/assets/css/Editor.css
  frontend/src/assets/css/Input.css
  frontend/src/assets/css/Table.css
  frontend/src/assets/css/icons/search.svg
  frontend/src/components/atoms/Category.js
  frontend/src/components/atoms/JoinInput.js
  frontend/src/components/atoms/OfferInput.js
  frontend/src/components/atoms/OfferTableInput.js
  frontend/src/components/atoms/Path.js
  frontend/src/components/atoms/Terms.js
  frontend/src/components/atoms/Theme.js
  frontend/src/components/atoms/Toggle.js
  frontend/src/components/mocules/DateInput.js
  frontend/src/components/mocules/RequestBar.js
  frontend/src/components/mocules/SearchInput.js
  frontend/src/components/mocules/TextEditor.js
  frontend/src/components/organisms/OfferInfo.js
  frontend/src/components/organisms/OfferTable.js
  frontend/src/index.js
  frontend/src/pages/inq/Inq.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/plugins/ToolbarPlugin.js
Labels: Frontend

#36 Be feat#83 pjh db dummy data
  backend/README.md
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Labels: Backend

#35 Fe feat#103 bjy Intro 화면 구현
  frontend/src/assets/css/icons/intro/arrow.svg
  frontend/src/assets/css/icons/intro/decrease-arrow.svg
  frontend/src/assets/css/icons/intro/gear.png
  frontend/src/assets/css/icons/intro/hammer.png
  frontend/src/assets/css/icons/intro/increase-arrow.svg
  frontend/src/assets/css/icons/intro/index.js
  frontend/src/assets/css/icons/intro/intro-icon.svg
  frontend/src/assets/css/icons/intro/step1.svg
  frontend/src/assets/css/icons/intro/step2.svg
  frontend/src/assets/css/icons/intro/step3.svg
  frontend/src/assets/css/icons/intro/step4.svg
  frontend/src/components/atoms/Button.js
  frontend/src/hooks/UseScrollAnimation.js
  frontend/src/pages/intro/Intro.js
  frontend/src/pages/intro/section/FirstIntro.js
  frontend/src/pages/intro/section/FourthIntro.js
  frontend/src/pages/intro/section/Graph.js
  frontend/src/pages/intro/section/GraphStyle.js
  frontend/src/pages/intro/section/ScrollStyle.js
  frontend/src/pages/intro/section/SecondIntro.js
  frontend/src/pages/intro/section/Style.js
  frontend/src/pages/intro/section/ThirdIntro.js
  frontend/src/pages/intro/section/index.js
Labels: Frontend

#37 Fe feat#85 bhj offersheet 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/Input.css
  frontend/src/assets/css/Member.css
  frontend/src/assets/css/Offersheet.css
  frontend/src/assets/css/Table.css
  frontend/src/components/atoms/Category.js
  frontend/src/components/atoms/JoinInput.js
  frontend/src/components/atoms/OfferInfoInput.js
  frontend/src/components/atoms/OfferTableInput.js
  frontend/src/components/atoms/Terms.js
  frontend/src/components/mocules/DateInput.js
  frontend/src/components/mocules/Header.js
  frontend/src/components/mocules/RequestBar.js
  frontend/src/components/mocules/SearchInput.js
  frontend/src/components/organisms/OfferInfo.js
  frontend/src/components/organisms/OfferTable.js
  frontend/src/pages/inq/Inq.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
Labels: Frontend

#40 pbs-77--fix: api url 수정 quality -> qualities
  backend/src/main/java/com/pobluesky/backend/domain/quality/controller/QualityController.java
Labels: Backend

#42 Be feat#117 ksy infra
  .gitignore
  Dockerfile
  Jenkinsfile
Labels: Infra

#43 pbs-114--feat: Chart Components
  frontend/src/components/organisms/BarChart.js
  frontend/src/components/organisms/PieChart.js
Labels: Frontend

#45 pbs--73--chore: inquiry extends baesentity
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/resources/data.sql
Labels: Backend

#49 Fe feat#114 bhj VoC Card 컴포넌트 구현 중
  frontend/src/App.js
  frontend/src/assets/css/Offersheet.css
  frontend/src/components/atoms/Button.js
  frontend/src/components/mocules/Card.js
  frontend/src/components/mocules/RequestBar.js
  frontend/src/pages/inq/Inq.js
Labels: Frontend

#38 Be feat#105 syj collaboration domain crud
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/request/CollaborationCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/request/CollaborationUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/CollaborationDetailResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/CollaborationResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/ManagerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/entity/ColStatus.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/entity/Collaboration.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/QuestionStatus.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/CustomerService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/java/com/pobluesky/backend/global/util/ResponseFactory.java
Labels: Backend

#46 Fe feat#128 bjy notification axios api 연동 test
  backend/src/main/java/com/pobluesky/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/request/CustomerNotificationCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/request/CustomerNotificationUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/request/ManagerNotificationCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/request/ManagerNotificationUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/response/CustomerNotificationResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/response/ManagerNotificationResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/entity/CustomerNotification.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/entity/ManagerNotification.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/entity/Notification.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/repository/CustomerNotificationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/repository/ManagerNotificationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/service/NotificationService.java
  backend/src/main/java/com/pobluesky/backend/global/config/WebConfig.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/data.sql
  frontend/src/apis/api/notification.js
  frontend/src/apis/api/user.js
  frontend/src/apis/config/constants.js
  frontend/src/apis/services/notificationService.js
  frontend/src/apis/services/userService.js
  frontend/src/apis/utils/axios.js
  frontend/src/apis/utils/cookies.js
  frontend/src/apis/utils/index.js
  frontend/src/components/mocules/Notification.js
  frontend/src/pages/voc/Voc.js
Labels: Frontend, Backend

#47 pbs-77--fix: quality domain crud 수정
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/response/QualityResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/entity/Quality.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/service/QualityService.java
  backend/src/main/resources/data.sql
Labels: Backend

#53 Be feat#132 bjy swagger setting
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/controller/QualityController.java
  backend/src/main/java/com/pobluesky/backend/global/config/SwaggerConfig.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/data.sql
Labels: Backend

#50 Be feat#73 ksy inquiry crud
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Progress.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/data.sql
Labels: Backend

#52 Fe feat#129 bhj voc 구현
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/request/AnswerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/AnswerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/repository/AnswerRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/controller/VocController.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/entity/Voc.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/repository/VocRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/voc/service/VocService.java
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/assets/css/Editor.css
  frontend/src/assets/css/Voc.css
  frontend/src/assets/css/icons/voc/answer_mark.svg
  frontend/src/assets/css/icons/voc/arrow.svg
  frontend/src/assets/css/icons/voc/question_completed.svg
  frontend/src/assets/css/icons/voc/question_folder.svg
  frontend/src/assets/css/icons/voc/question_mark.svg
  frontend/src/assets/css/icons/voc/question_partition.svg
  frontend/src/assets/css/icons/voc/question_ready.svg
  frontend/src/assets/css/icons/voc/question_total.svg
  frontend/src/assets/css/icons/voc/search.svg
  frontend/src/components/atoms/Button.js
  frontend/src/components/atoms/Input.js
  frontend/src/components/atoms/Label.js
  frontend/src/components/atoms/Tag.js
  frontend/src/components/mocules/Card.js
  frontend/src/components/mocules/DateInput.js
  frontend/src/components/mocules/QuestionCard.js
  frontend/src/components/organisms/QuestionModal.js
  frontend/src/components/organisms/QuestionReport.js
  frontend/src/components/organisms/SearchItem.js
  frontend/src/pages/voc/Voc.js
Labels: Frontend, Backend

#51 Be feat#108 syj user security
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/CarLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/CustomerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/ManagerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/request/CustomerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/request/LogInDto.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/request/ManagerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/CustomerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/ManagerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Customer.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Department.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Manager.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/User.java
  backend/src/main/java/com/pobluesky/backend/domain/user/repository/CustomerRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/user/repository/ManagerRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/CustomUserDetailsService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/CustomerService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  backend/src/main/java/com/pobluesky/backend/global/config/SecurityConfig.java
  backend/src/main/java/com/pobluesky/backend/global/config/WebConfig.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/java/com/pobluesky/backend/global/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/pobluesky/backend/global/security/JwtToken.java
  backend/src/main/java/com/pobluesky/backend/global/security/JwtTokenProvider.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Labels: Backend

#56 pbs-144--fix: Error Fix
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/global/config/WebConfig.java
  backend/src/main/resources/application.properties
Labels: Backend

#57 pbs-145--hotfix: SecurityConfig - Swagger url 허용
  backend/src/main/java/com/pobluesky/backend/global/config/SecurityConfig.java
Labels: Backend

#58 fix: Fixed Authentication JWT
  backend/src/main/java/com/pobluesky/backend/global/security/JwtTokenProvider.java
Labels: Backend

#59 Fe feat#131 bjy inquiry web
  backend/src/main/java/com/pobluesky/backend/global/config/SwaggerConfig.java
  frontend/config/webpack.config.js
  frontend/src/App.js
  frontend/src/apis/api/notification.js
  frontend/src/apis/api/notification/notification.js
  frontend/src/apis/api/user/user.js
  frontend/src/apis/services/notificationService.js
  frontend/src/apis/services/userService.js
  frontend/src/assets/css/Inquiry.css
  frontend/src/assets/css/Offersheet.css
  frontend/src/components/atoms/Button.js
  frontend/src/components/atoms/Label.js
  frontend/src/components/atoms/Path.js
  frontend/src/components/atoms/SelectBox.js
  frontend/src/components/atoms/Tag.js
  frontend/src/components/mocules/DateInputPeriod.js
  frontend/src/components/mocules/InquiryBox.js
  frontend/src/components/mocules/Notification.js
  frontend/src/components/mocules/ProjectLabel.js
  frontend/src/components/mocules/SearchResult.js
  frontend/src/components/organisms/InquiryItem.js
  frontend/src/components/organisms/InquirySearchBox.js
  frontend/src/pages/inq/Inq.js
  frontend/src/pages/inq/index.js
  frontend/src/pages/inqitem/InqItem.js
  frontend/src/pages/inqitem/index.js
  frontend/src/pages/inqitem/offersheet.js
  frontend/src/pages/inqlist/InqList.js
  frontend/src/pages/inqlist/dummyInquiryData.js
  frontend/src/pages/inqlist/index.js
Labels: Frontend

#60 pbs-150--feat: Swagger Summary 작성
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/controller/LineItemController.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/controller/OfferSheetController.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/controller/QualityController.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
Labels: Backend

#62 pbs-139--feat: Question & Answer API(GET, POST)
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/request/AnswerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/AnswerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/repository/AnswerRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/data.sql
Labels: Backend

#64 Fe feat#142 bhj login
  .gitignore
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/AnswerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/AnswerWithQuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/repository/AnswerRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/QuestionType.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/resources/data.sql
  frontend/.prettierrc
  frontend/config/webpack.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/apis/api/answer/answer.js
  frontend/src/apis/api/question/question.js
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/Voc.css
  frontend/src/components/atoms/Button.js
  frontend/src/components/mocules/Header.js
  frontend/src/components/mocules/QuestionCard.js
  frontend/src/components/organisms/QuestionModal.js
  frontend/src/components/organisms/QuestionReport.js
  frontend/src/components/organisms/QuestionSearchItem.js
  frontend/src/components/templates/QuestionList.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc/QuestionAnswer.js
  frontend/src/pages/voc/Voc.js
  frontend/src/pages/voc/index.js
Labels: Frontend

#75 Fe feat#142 bhj login
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/repository/AnswerRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  frontend/src/App.js
  frontend/src/apis/api/auth/auth.js
  frontend/src/assets/css/Auth.css
  frontend/src/assets/css/Member.css
  frontend/src/components/atoms/JoinInput.js
  frontend/src/components/mocules/Header.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc-list/VocList.js
  frontend/src/pages/voc/ManagerQuestionAnswer.js
  frontend/src/pages/voc/QuestionAnswer.js
  frontend/src/pages/voc/QuestionRegister.js
  frontend/src/pages/voc/index.js
Labels: Frontend, Backend

#65 Be feat#151 ksy lineitem coldrolled
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/controller/LineItemController.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/CarLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/CoatingAnotherCondition.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/CoatingCondition.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/CoatingUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Direction.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/IxPlate.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Kind.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Lab.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Order.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/PostTreatment.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/RaAnotherUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/RaUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Regulation.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/StandardOrg.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/coldrolled/InqName.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/coldrolled/Kind.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/ColdRolledLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
Labels: Backend

#66 Be refactor#154 ksy lineitem car modify
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/controller/LineItemController.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/resources/data.sql
Labels: Backend

#67 Be feat#155 ksy lineitem hotrolled
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/HotRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/hotrolled/InqName.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/hotrolled/Kind.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/CarLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/ColdRolledLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/HotRolledLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/resources/data.sql
Labels: Backend

#69 Be feat#153 ksy lineitem wirerod
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/controller/LineItemController.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/wirerod/InqName.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/wirerod/Kind.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/ColdRolledLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/WireRodLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/resources/data.sql
Labels: Backend

#76 Be hotfix#164 bhj conflict
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/entity/ColStatus.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/controller/LineItemController.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/CoatingAnotherCondition.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/ColdRolledLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  frontend/src/assets/css/Auth.css
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
Labels: Backend

#70 Be feat#152 ksy lineitem thickplate
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ThickPlateLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/ThickPlateLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/resources/data.sql
Labels: Backend

#63 Be feat#119 pjh inquiry filtering
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/BackendApplication.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/java/com/pobluesky/backend/global/security/JwtTokenProvider.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
  frontend/package-lock.json
Labels: Backend

#78 pbs-160--feat: [FE] api token 처리 및 Cookie 관리 + 로그인/회원가입 Test 완료
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/api/auth.js
  frontend/src/apis/api/auth/auth.js
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/api/notification.js
  frontend/src/apis/api/notification/notification.js
  frontend/src/apis/api/user/user.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/apis/utils/axios.js
  frontend/src/apis/utils/axiosInstance.js
  frontend/src/apis/utils/cookies.js
  frontend/src/apis/utils/tokenUtils.js
  frontend/src/components/mocules/Notification.js
Labels: Frontend

#80 pbs-167--hotfix: 주석 삭제
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Country.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Progress.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
Labels: Backend

#81 Be refactor#165 ksy refactoring sql entity
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/CoatingAnotherCondition.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/CoatingCondition.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/CoatingUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Direction.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/IxPlate.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Kind.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Lab.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Order.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/PostTreatment.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/RaAnotherUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/RaUnit.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/Regulation.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/car/StandardOrg.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityReviewInfoCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/request/QualityReviewInfoUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/dto/response/QualityReviewInfoResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/entity/QualityReviewInfo.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/ContractType.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/Review.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/SalesInfo.java
  backend/src/main/resources/data.sql
Labels: Backend

#83 Fe feat#129 bhj vo c 구현
  frontend/src/apis/utils/authUtils.js
  frontend/src/apis/utils/axiosInstance.js
  frontend/src/apis/utils/tokenUtils.js
  frontend/src/assets/css/Auth.css
  frontend/src/assets/css/icons/arrow-select-box.svg
  frontend/src/components/atoms/Input.js
  frontend/src/components/mocules/JoinInput.js
  frontend/src/components/mocules/LoginInput.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/utils/actions.js
  frontend/src/utils/validation.js
Labels: Frontend

#88 Fe feat#177 bjy login context
  frontend/src/App.js
  frontend/src/apis/api/auth.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/apis/utils/axiosInstance.js
  frontend/src/apis/utils/cookies.js
  frontend/src/apis/utils/tokenUtils.js
  frontend/src/assets/css/Header.css
  frontend/src/components/mocules/Header.js
  frontend/src/components/templates/Layout.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/hooks/useAuth.js
  frontend/src/index.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/inq-form/InqForm.js
  frontend/src/pages/inq-item/InqItem.js
  frontend/src/pages/inq-list/InqList.js
  frontend/src/pages/inq-main/InqMain.js
  frontend/src/pages/intro/Intro.js
  frontend/src/pages/intro/section/FirstIntro.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc-list/CustomerQuestionAnswer.js
  frontend/src/pages/voc-list/ManagerQuestionAnswer.js
  frontend/src/pages/voc-list/QuestionRegister.js
  frontend/src/pages/voc-list/VocList.js
  frontend/src/pages/voc-main/VocMain.js
Labels: Frontend

#89 Fe feat#176 bhj alert
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/apis/api/auth.js
  frontend/src/apis/api/notification.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/assets/css/Auth.css
  frontend/src/assets/css/Header.css
  frontend/src/components/atoms/Input.js
  frontend/src/components/mocules/Header.js
  frontend/src/components/mocules/JoinButton.js
  frontend/src/components/mocules/JoinInput.js
  frontend/src/components/mocules/Notification.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/pages/intro/Intro.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/utils/actions.js
  frontend/src/utils/validation.js
Labels: Frontend

#92 Be feat#178 syj user info get
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/CustomerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/ManagerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/CustomerService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  backend/src/main/java/com/pobluesky/backend/global/config/SecurityConfig.java
Labels: Backend

#91 Be feat#170 syj offersheet list
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/dto/request/OfferSheetCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/dto/request/OfferSheetUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/dto/response/OfferSheetResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/entity/OfferSheet.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/service/OfferSheetService.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/controller/ReceiptController.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/dto/request/ReceiptCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/dto/request/ReceiptUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/dto/response/ReceiptResponse.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/entity/Receipt.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/repository/ReceiptRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/service/ReceiptService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/data.sql
Labels: Backend

#94 Fe feat#128 bjy notification modal api
  frontend/src/apis/api/notification.js
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/icons/bell.svg
  frontend/src/assets/css/icons/circle.svg
  frontend/src/components/mocules/Header.js
  frontend/src/components/mocules/Notification.js
  frontend/src/components/mocules/NotificationModal.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc-list/CustomerQuestionAnswer.js
  frontend/src/pages/voc-list/ManagerQuestionAnswer.js
Labels: Frontend

#95 pbs-184--hotfix: error fix
  frontend/src/apis/api/notification.js
  frontend/src/assets/css/Header.css
  frontend/src/components/mocules/Header.js
  frontend/src/pages/login/Login.js
Labels: Frontend

#96 pbs-187--hotfix: jwt token + userId
  backend/src/main/java/com/pobluesky/backend/domain/user/service/SignService.java
  backend/src/main/java/com/pobluesky/backend/global/security/JwtToken.java
  backend/src/main/java/com/pobluesky/backend/global/security/JwtTokenProvider.java
Labels: documentation, Backend

#97 Fe feat#186 bjy notification get user info
  frontend/src/apis/api/auth.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/icons/readBell.svg
  frontend/src/assets/css/icons/readCircle.svg
  frontend/src/components/mocules/Header.js
  frontend/src/components/mocules/NotificationModal.js
  frontend/src/context/auth/AuthContext.js
Labels: Frontend

#93 Be feat#180 syj inquiry, offersheet 코드 정리
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/entity/OfferSheet.java
Labels: Backend

#90 Be feat#113 ksy file upload
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/file/controller/FileUploadController.java
  backend/src/main/java/com/pobluesky/backend/domain/file/dto/FileInfo.java
  backend/src/main/java/com/pobluesky/backend/domain/file/service/FileService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/global/config/S3Config.java
  backend/src/main/java/com/pobluesky/backend/global/error/FileUploadException.java
Labels: Backend

#102 pbs-132--fix: Swagger Token 으로 테스트 가능하도록 수정
  backend/src/main/java/com/pobluesky/backend/global/config/SwaggerConfig.java
Labels: Backend

#100 Be feat#124 pjh VoC 협업 목록 조회
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/CollaborationSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#99 Be feat#122 pjh VoC 문의 목록 조회
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#103 pbs-192--refactor: sortBy 정렬 상수값 소->대문자 변경
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#104 Be refactor#191 syj user role security
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/request/CustomerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/request/ManagerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Customer.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Manager.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/CustomerService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  backend/src/main/resources/data.sql
Labels: Backend

#105 Be refactor#193 pjh offersheet 내 receipt 생성
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/controller/OfferSheetController.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/dto/request/OfferSheetCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/dto/response/OfferSheetResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/entity/OfferSheet.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/repository/OfferSheetRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/service/OfferSheetService.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/controller/ReceiptController.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/dto/request/ReceiptCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/repository/ReceiptRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/receipt/service/ReceiptService.java
  backend/src/main/resources/data.sql
Labels: Backend

#107 Be refactor#196 syj review get inquiry
  backend/src/main/java/com/pobluesky/backend/domain/quality/controller/QualityController.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/entity/Quality.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/repository/QualityRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/quality/service/QualityService.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/Review.java
  backend/src/main/java/com/pobluesky/backend/domain/review/repository/ReviewRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#108 pbs-199--hotfix: 협업 요청 조건 제거
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
Labels: Backend

#112 Fe feat#189 bhj qna
  frontend/src/App.js
  frontend/src/apis/api/auth.js
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/api/offersheet.js
  frontend/src/apis/api/review.js
  frontend/src/apis/utils/axiosInstance.js
  frontend/src/assets/css/Form.css
  frontend/src/assets/css/Inquiry.css
  frontend/src/assets/css/icons/select-arrow.svg
  frontend/src/components/atoms/Button.js
  frontend/src/components/atoms/InqPath.js
  frontend/src/components/atoms/MyDateInput.js
  frontend/src/components/mocules/FileGetItem.js
  frontend/src/components/mocules/FileItem.js
  frontend/src/components/mocules/InquiryBox.js
  frontend/src/components/mocules/NotificationModal.js
  frontend/src/components/mocules/RequestBar.js
  frontend/src/components/mocules/ReviewText.js
  frontend/src/components/organisms/HorizontalBarChart.js
  frontend/src/components/organisms/InquiryItem.js
  frontend/src/components/organisms/InquirySearchBox.js
  frontend/src/components/organisms/inquiry-form/AdditionalRequestForm.js
  frontend/src/components/organisms/inquiry-form/BasicInfoForm.js
  frontend/src/components/organisms/inquiry-form/FileForm.js
  frontend/src/components/organisms/inquiry-form/FileFormItem.js
  frontend/src/components/organisms/inquiry-form/FinalReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/components/organisms/inquiry-form/InquiryNewForm.js
  frontend/src/components/organisms/inquiry-form/Offersheet.js
  frontend/src/components/organisms/inquiry-form/QualityReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/QualityReviewTextFormItem.js
  frontend/src/components/organisms/inquiry-form/ReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/index.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-form/InqForm.js
  frontend/src/pages/inq-form/QualityManagerInqForm.js
  frontend/src/pages/inq-form/SalesManagerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/InqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-list/CustomerInqList.js
  frontend/src/pages/inq-list/InqList.js
  frontend/src/pages/login/Login.js
Labels: Frontend

#111 Be refactor#195 syj lineitem inquiry
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/controller/LineItemController.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/HotRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/LineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ThickPlateLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/CarLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/ThickPlateLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/repository/WireRodLineItemRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
  backend/src/main/java/com/pobluesky/backend/domain/review/service/ReviewService.java
  backend/src/main/resources/data.sql
Labels: Backend

#109 Be feat#198 ksy file upload collaboration voc
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/request/CollaborationCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/entity/Collaboration.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#114 Be hotfix#203 pjh question sorting fix
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#117 Be hotfix#205 syj lineitem wirerod thickplate lists
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/HotRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ThickPlateLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/service/LineItemService.java
Labels: bug, Backend

#120 pbs-209--hotfix: File 업로드, LocalDate, import 구문 수정
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  frontend/src/components/mocules/FileGetItem.js
  frontend/src/components/organisms/InquirySearchBox.js
  frontend/src/components/organisms/inquiry-form/FileFormItem.js
  frontend/src/components/organisms/inquiry-form/Offersheet.js
Labels: Frontend, Backend

#121 Fe feat#207 bhj inq qna
  frontend/src/App.js
  frontend/src/apis/api/answer.js
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/api/question.js
  frontend/src/assets/css/Voc.css
  frontend/src/assets/css/icons/close.svg
  frontend/src/components/atoms/VocButton.js
  frontend/src/components/mocules/QuestionInput.js
  frontend/src/components/mocules/QuestionOverview.js
  frontend/src/components/mocules/QuestionTypeSelector.js
  frontend/src/components/mocules/QuestoinInquirySearchModal.js
  frontend/src/components/organisms/QuestionForm.js
  frontend/src/components/organisms/QuestionModal.js
  frontend/src/components/templates/QuestionCardList.js
  frontend/src/components/templates/QuestionForm.js
  frontend/src/pages/voc-form/VocForm.js
  frontend/src/utils/actions.js
Labels: Frontend

#124 Be refactor#211 pjh list api fix
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#122 pbs-210--chore: 미사용 패키지 삭제
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/apis/api/collaboration.js
  frontend/src/components/mocules/CollabTable.js
  frontend/src/components/templates/QuestionCardList.js
  frontend/src/pages/collaboration/Collaboration.js
  frontend/src/pages/collaboration/index.js
Labels: Frontend

#125 pbs-212--refactor: InquirySummaryResponseDTO 속성 추가
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
Labels: Backend

#126 Be feat#213 ksy add lineitem attribute
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/HotRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ThickPlateLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  backend/src/main/resources/data.sql
  frontend/src/apis/api/inquiry.js
  frontend/src/pages/inq-list/SalesManagerInqList.js
Labels: Backend

#127 Be refactor#214 pjh offersheet col add
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/dto/request/OfferSheetCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/dto/response/OfferSheetResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/offersheet/entity/OfferSheet.java
Labels: Backend

#128 Be chore#215 syj line item add column
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  backend/src/main/resources/data.sql
Labels: Backend

#129 pbs-216--hotfix: car loacaldate -> string
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/resources/data.sql
Labels: bug

#131 Be hotfix#217 pjh collaboration update status fix
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#130 Be chore#215 syj line item add column plus
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/coldrolled/ColdRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/hotrolled/HotRolledLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/coldrolled/ColdRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/hotrolled/HotRolledLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ColdRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/HotRolledLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/WireRodLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/InqName.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/coldrolled/InqName.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/type/hotrolled/InqName.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/ReviewController.java
  backend/src/main/resources/data.sql
Labels: Backend

#135 Be feat#221 pjh inquiry progress update
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryProgressUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryProgressResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#134 Be refactor#219 pjh add question filtering
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#137 Be refactor#222 pjh inquiry sorting add
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#138 Be feat#223 syj inquiry update
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryProgressUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Progress.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#136 Fe feat#220 bjy inquiry and lineitem development
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/api/inquirySearch.js
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/assets/css/Form.css
  frontend/src/assets/css/Inquiry.css
  frontend/src/components/atoms/InqPath.js
  frontend/src/components/atoms/ManagerInqPath.js
  frontend/src/components/atoms/ToggleButton.js
  frontend/src/components/atoms/VocPath.js
  frontend/src/components/mocules/RequestBar.js
  frontend/src/components/mocules/SearchResult.js
  frontend/src/components/organisms/inquiry-form/BasicInfoForm.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryFormItem.js
  frontend/src/components/organisms/inquiry-form/InquiryNewForm.js
  frontend/src/components/organisms/inquiry-form/InquirySearchBox.js
  frontend/src/components/organisms/inquiry-form/ManagerBasicInfoForm.js
  frontend/src/components/organisms/inquiry-form/Table.js
  frontend/src/components/organisms/inquiry-form/index.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/LineItemTableForm.js
  frontend/src/pages/inq-item/LineItemTableItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-item/index.js
  frontend/src/pages/inq-list/CustomerInqTableList.js
  frontend/src/pages/inq-list/QualityManagerInqTableList.js
  frontend/src/pages/inq-list/SalesManagerInqTableList.js
  frontend/src/pages/inq-main/InqMain.js
  frontend/src/pages/voc-form/VocForm.js
  frontend/src/pages/voc-list/VocList.js
  frontend/src/pages/voc-main/VocMain.js
  frontend/src/utils/lineItems.js
Labels: Frontend

#140 pbs-230--fix: 머지 과정에서 생성된 불필요한 기호 삭제
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryFormItem.js
  frontend/src/pages/inq-item/LineItemTableForm.js
  frontend/src/pages/inq-list/CustomerInqTableList.js
  frontend/src/pages/inq-list/QualityManagerInqTableList.js
  frontend/src/pages/inq-list/SalesManagerInqTableList.js
Labels: bug

#141 pbs-230--fix: export default 수정
  frontend/src/App.js
  frontend/src/components/atoms/ColPath.js
  frontend/src/components/atoms/VocPath.js
  frontend/src/pages/inq-list/QualityManagerInqTableList.js
  frontend/src/pages/inq-list/SalesManagerInqTableList.js
  frontend/src/pages/inq-list/index.js
  frontend/src/pages/voc-form/VocColForm.js
  frontend/src/pages/voc-form/VocForm.js
  frontend/src/pages/voc-form/VocQuestionForm.js
  frontend/src/pages/voc-list/VocColList.js
  frontend/src/pages/voc-list/VocQuestionList.js
  frontend/src/pages/voc-main/VocMain.js
Labels: Frontend

#142 notification To.고객사 POST 구현
  frontend/src/apis/api/notification.js
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/organisms/inquiry-form/InquirySearchBox.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/utils/actions.js
Labels: Frontend

#143 pbs-229--feat: 회원가입 로직 수정
  frontend/src/assets/css/Auth.css
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/JoinButton.js
  frontend/src/components/molecules/QuestionModal.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/voc-main/VocMain.js
  frontend/src/utils/actions.js
  frontend/src/utils/validation.js
Labels: Frontend

#144 pbs-229--feat: 회원가입 로직 수정
  frontend/src/pages/join/Join.js
Labels: Frontend

#145 Be refactor#225 pjh VoC/Inquiry/Collaboration 조회 Paging API 제거
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#146 Be feat#226 syj inquiry allocate manager
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryAllocateResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/InquiryType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Progress.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/wirerod/WireRodLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/wirerod/WireRodLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/ManagerSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Customer.java
  backend/src/main/resources/data.sql
Labels: Backend

#147 Fe feat#229 bhj qna col
  frontend/src/apis/api/auth.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/assets/css/Auth.css
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/icons/person.svg
  frontend/src/assets/css/icons/profile.svg
  frontend/src/components/atoms/Button.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/SearchInput.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/organisms/QuestionFilterPanel.js
  frontend/src/components/organisms/QuestionOverview.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/index.js
  frontend/src/pages/intro/section/FirstIntro.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/utils/actions.js
Labels: Frontend

#149 Be feat#234 syj quality sales api separate
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#150 Fe feat#229 bhj qna col
  frontend/src/assets/css/Header.css
  frontend/src/components/molecules/Header.js
  frontend/src/pages/inq-main/InqMain.js
  frontend/src/pages/intro/section/FirstIntro.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc-main/VocMain.js
  frontend/src/utils/actions.js
Labels: Frontend

#153 pbs-238--hotfix: 담당자 배정 이슈 해결
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: bug

#151 pbs-229--fix: 로그아웃 후 로그인 버튼 클릭 비활성화 이슈 해결
  frontend/src/App.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/components/atoms/Button.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/QuestionModal.js
  frontend/src/components/templates/ColForm.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/pages/intro/Intro.js
  frontend/src/pages/intro/section/FirstIntro.js
  frontend/src/pages/intro/section/FourthIntro.js
  frontend/src/pages/intro/section/Graph.js
  frontend/src/pages/intro/section/GraphStyle.js
  frontend/src/pages/intro/section/ScrollStyle.js
  frontend/src/pages/intro/section/SecondIntro.js
  frontend/src/pages/intro/section/Style.js
  frontend/src/pages/intro/section/ThirdIntro.js
  frontend/src/pages/login/Login.js
Labels: Frontend

#154 pbs-239--hotfix: 담당자 배정 이슈 해결
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: bug

#155 Fe feat#229 bhj qna col
  frontend/src/assets/css/icons/intro/temp-intro-1.svg
  frontend/src/assets/css/icons/intro/temp-intro-2.svg
  frontend/src/assets/css/icons/intro/temp-intro-3.svg
  frontend/src/components/molecules/Header.js
  frontend/src/pages/intro/Intro.js
  frontend/src/pages/intro/section/FirstIntro.js
  frontend/src/pages/intro/section/Style.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
Labels: Frontend

#156 Fe feat#232 bjy manager allocate and progress update
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/api/inquirySearch.js
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/organisms/inquiry-form/CollapsibleTable.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/InquirySearchBox.js
  frontend/src/components/organisms/inquiry-form/ManagerTable.js
  frontend/src/components/organisms/inquiry-form/Row.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-list/CustomerInqTableList.js
  frontend/src/pages/inq-list/QualityManagerInqTableList.js
  frontend/src/pages/inq-list/SalesManagerInqTableList.js
  frontend/src/utils/inquiry.js
Labels: Frontend

#157 Fe feat#229 bhj qna col
  frontend/src/apis/utils/authUtils.js
Labels: Frontend

#158 pbs-232--hotfix: 테스트 중 핫픽스 해결
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/assets/css/Inquiry.css
  frontend/src/components/atoms/InqPath.js
  frontend/src/components/atoms/ManagerInqPath.js
  frontend/src/components/organisms/inquiry-form/CollapsibleTable.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/InquiryNewForm.js
  frontend/src/components/organisms/inquiry-form/InquirySearchBox.js
  frontend/src/components/organisms/inquiry-form/Row.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-list/CustomerInqTableList.js
  frontend/src/pages/inq-list/QualityManagerInqTableList.js
  frontend/src/pages/inq-list/SalesManagerInqTableList.js
  frontend/src/pages/inq-main/InqMain.js
  frontend/src/utils/actions.js
Labels: Frontend

#159 Fe feat#229 bhj qna col
  frontend/src/assets/css/Voc.css
  frontend/src/components/molecules/ColFindManagerModal.js
  frontend/src/components/molecules/ColResModal.js
  frontend/src/components/organisms/ColReqFilterPannel.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/QuestionTable.js
  frontend/src/components/templates/ColForm.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/pages/voc-form/VocColForm.js
  frontend/src/utils/actions.js
Labels: Frontend

#161 Fe feat#229 bhj chart
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/InquiryFilledOrderCountChart.js
  frontend/src/components/organisms/InquiryMonthlyFilledOrderChart.js
  frontend/src/components/organisms/InquiryProductProgressChart.js
  frontend/src/components/organisms/InquiryProgressChart.js
  frontend/src/pages/dashboard/DashBoard.js
Labels: Frontend

#160 Fe hotfix#254 bjy logout cookie issue
  frontend/src/apis/utils/authUtils.js
  frontend/src/apis/utils/axiosInstance.js
  frontend/src/apis/utils/cookies.js
  frontend/src/context/auth/AuthContext.js
Labels: Frontend
