Repository pobluesky/customer-inquiry-system, pull requests merged in 2024-09, with the labels that each got.

#162 Be feat#251 pjh inquiry favorite list
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryFavoriteResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/data.sql
Labels: Backend

#165 Fe feat#256 bjy inquiry development
  frontend/src/App.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/assets/css/Form.css
  frontend/src/components/molecules/ColResModal.js
  frontend/src/components/molecules/FileGetItem.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/QuestionModal.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/organisms/QuestionFilterPanel.js
  frontend/src/components/organisms/QuestionOverview.js
  frontend/src/components/organisms/QuestionTable.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/FileForm.js
  frontend/src/components/organisms/inquiry-form/FileFormItem.js
  frontend/src/components/organisms/inquiry-form/FileUpdateForm.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryFormItem.js
  frontend/src/components/organisms/inquiry-form/ManagerTable.js
  frontend/src/components/organisms/inquiry-form/Offersheet.js
  frontend/src/components/organisms/inquiry-form/Row.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityFileForm.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/LineItemTableForm.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-main/InqMain.js
  frontend/src/pages/intro/Intro.js
Labels: Frontend

#164 Be feat#245 syj dashboard api
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/resources/data.sql
Labels: Backend

#167 Be feat#320 bhj chart api
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/resources/data.sql
  frontend/src/App.js
  frontend/src/assets/css/Form.css
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/icons/pobluesky.png
  frontend/src/assets/css/icons/profile-sample.png
  frontend/src/components/atoms/Button.js
  frontend/src/components/molecules/DateInputPeriod.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/UserInfoModal.js
  frontend/src/components/templates/Layout.js
  frontend/src/index.css
Labels: Backend

#168 Be feat#320 bhj favorite api
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/resources/data.sql
Labels: Backend

#171 Be feat#330 pjh inquiry sep lineitem
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryFavoriteLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#169 Be feat#321 syj mobile get list
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/MobileInquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/InquiryType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Progress.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/MobileQuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/MobileQuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/java/com/pobluesky/backend/global/config/SecurityConfig.java
  backend/src/main/resources/data.sql
Labels: Backend

#174 Be hotfix#332 syj mobile dto import add
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: bug, Backend

#173 Fe feat#318 bhj voc component
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/resources/data.sql
  frontend/src/apis/api/chart.js
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/Voc.css
  frontend/src/assets/css/icons/voc/question_collaboration.svg
  frontend/src/assets/css/icons/voc/question_completed.svg
  frontend/src/assets/css/icons/voc/question_partition.svg
  frontend/src/assets/css/icons/voc/question_ready.svg
  frontend/src/assets/css/icons/voc/question_total.svg
  frontend/src/components/molecules/Header.js
  frontend/src/components/organisms/InquiryMonthlyOrderChart.js
  frontend/src/components/organisms/InquiryOrderCountChart.js
  frontend/src/components/organisms/InquiryProductProgressChart.js
  frontend/src/components/organisms/InquiryProgressCountChart.js
  frontend/src/components/organisms/QuestionFilterInput.js
  frontend/src/components/organisms/QuestionFilterPanel.js
  frontend/src/components/organisms/QuestionList.js
  frontend/src/components/organisms/QuestionOverview.js
  frontend/src/components/templates/ColForm.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/index.css
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/login/Login.js
  frontend/src/utils/actions.js
Labels: Frontend, Backend

#172 Fe feat#294 bjy lineitem past component
  frontend/src/App.js
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/components/molecules/LineItemToggleBar.js
  frontend/src/components/molecules/Modal.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/utils/inquiry.js
Labels: Frontend

#175 pbs-295--feat: 과거이력조회로 데이터 전달 기능 완료
  frontend/src/components/molecules/LineItemToggleBar.js
  frontend/src/components/molecules/Modal.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
Labels: Frontend

#176 Be feat#299 bjy notification count
  backend/src/main/java/com/pobluesky/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/repository/CustomerNotificationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/repository/ManagerNotificationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/service/NotificationService.java
  frontend/src/apis/api/notification.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/NotificationModal.js
Labels: Frontend, Backend

#177 Fe feat#298 bjy inquiry progress development
  frontend/src/assets/css/Inquiry.css
  frontend/src/assets/css/animations.css
  frontend/src/components/atoms/Chip.js
  frontend/src/components/molecules/BorderLinearProgress.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/StepTracker.js
  frontend/src/components/organisms/inquiry-form/CollapsibleTable.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryFormItem.js
  frontend/src/components/organisms/inquiry-form/Row.js
Labels: Frontend

#178 Fe feat#316 bhj voc answer
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/request/AnswerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/AnswerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/resources/data.sql
  frontend/src/App.js
  frontend/src/assets/css/Voc.css
  frontend/src/assets/css/icons/voc/question_folder.svg
  frontend/src/assets/css/icons/voc/question_mark.svg
  frontend/src/components/atoms/VocButton.js
  frontend/src/components/molecules/QuestionModal.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/QuestionFilterInput.js
  frontend/src/components/organisms/QuestionList.js
  frontend/src/components/organisms/QuestionOverview.js
  frontend/src/components/organisms/QuestionViewer.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/voc-form/VocAnswerForm.js
  frontend/src/pages/voc-form/index.js
  frontend/src/utils/validation.js
Labels: Frontend, Backend

#179 Fe feat#310 bhj voc question
  frontend/src/assets/css/Voc.css
  frontend/src/components/atoms/VocButton.js
  frontend/src/components/molecules/ColResModal.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/QuestoinInquirySearchModal.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/QuestionInput.js
  frontend/src/components/organisms/QuestionTypeSelector.js
  frontend/src/components/organisms/QuestionViewer.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/components/templates/QuestionForm.js
  frontend/src/pages/intro/Intro.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc-form/VocColForm.js
  frontend/src/pages/voc-form/VocQuestionForm.js
  frontend/src/pages/voc-list/VocColList.js
  frontend/src/pages/voc-list/VocQuestionList.js
  frontend/src/utils/actions.js
  frontend/src/utils/validation.js
Labels: bug, Frontend

#180 pbs-310--hotfix: Header 대시보드 화면에서 Header 미출력 버그 해결
  frontend/src/components/molecules/Header.js
Labels: bug

#182 Fe feat#297 bjy offer sheet excel
  backend/src/main/resources/data.sql
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/organisms/inquiry-form/Offersheet.js
  frontend/src/components/organisms/inquiry-form/OffersheetBefore.js
  frontend/src/components/organisms/inquiry-form/Offertable.js
  frontend/src/components/organisms/inquiry-form/OffertableItem.js
  frontend/src/components/organisms/inquiry-form/Row.js
  frontend/src/components/organisms/inquiry-form/index.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
Labels: Frontend

#181 Fe refactor#320 bhj chart
  frontend/src/App.js
  frontend/src/assets/css/Chart.css
  frontend/src/components/organisms/InquiryProductProgressChart.js
  frontend/src/components/organisms/InquiryProgressCountChart.js
  frontend/src/components/organisms/QuestionInput.js
  frontend/src/components/organisms/QuestionTypeSelector.js
Labels: Frontend

#183 Fe hotfix#297 bjy local storage
  frontend/src/components/organisms/inquiry-form/Offersheet.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-list/CustomerInqTableList.js
Labels: Frontend

#184 Fe feat#301 bjy notification
  backend/src/main/java/com/pobluesky/backend/domain/notification/repository/CustomerNotificationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/repository/ManagerNotificationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/service/NotificationService.java
  frontend/src/components/organisms/inquiry-form/Row.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-list/SalesManagerInqTableList.js
Labels: Frontend, Backend

#185 Be feat#291 pjh inquiry lineitem optimizer
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/ChatRequestMsgDto.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/ChatCompletionDto.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/GptPromptService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/IntegratedOcrGptService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/OcrService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/PdfConversionService.java
  backend/src/main/java/com/pobluesky/backend/global/config/RestTemplateConfig.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#186 Be feat#311 bhj account
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Customer.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/CustomerService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  frontend/src/App.js
  frontend/src/apis/api/auth.js
  frontend/src/assets/css/Auth.css
  frontend/src/assets/css/Error.css
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/icons/profile-sample.png
  frontend/src/assets/css/icons/profile.svg
  frontend/src/assets/css/icons/voc-search.svg
  frontend/src/assets/css/icons/voc/answer_mark.svg
  frontend/src/components/atoms/Input.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/JoinInput.js
  frontend/src/components/molecules/UserInfoModal.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/AuthenticateUser.js
  frontend/src/components/organisms/ColReqFilterPannel.js
  frontend/src/components/organisms/ColResFilterPannel.js
  frontend/src/components/organisms/EditingUserInfo.js
  frontend/src/components/organisms/ExistingUserInfo.js
  frontend/src/components/templates/ColForm.js
  frontend/src/components/templates/QuestionForm.js
  frontend/src/components/templates/UserAccountOverview.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/index.css
  frontend/src/pages/account/UserAccount.js
  frontend/src/pages/account/index.js
  frontend/src/pages/error/Error404.js
  frontend/src/pages/error/index.js
  frontend/src/pages/login/Login.js
  frontend/src/utils/validation.js
Labels: Frontend

#188 Be feat#341 syj mobile mypage api
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/MobileAnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/MobileAnswerSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/MobileInquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/MobileQuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/ManagerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/MobileUserController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/MobileManagerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/UserRole.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  backend/src/main/java/com/pobluesky/backend/global/config/SecurityConfig.java
Labels: Backend

#189 Be refactor#291 pjh inquiry lineitem optimizer 응답 수정 & lineitem 필드명 수정
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/IntegratedOcrGptService.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/car/CarLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/request/thickplate/ThickPlateLineItemUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/car/CarLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/dto/response/thickplate/ThickPlateLineItemResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/CarLineItem.java
  backend/src/main/java/com/pobluesky/backend/domain/lineitem/entity/ThickPlateLineItem.java
  backend/src/main/resources/data.sql
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/utils/inquiry.js
Labels: Backend

#190 Be feat#345 bhj qna put/delete
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/request/AnswerUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/AnswerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#191 pbs-291--refactor: car prompt 수정
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/IntegratedOcrGptService.java
Labels: Backend

#194 Fe feat#343 bjy ocr component
  frontend/src/apis/api/inquiry.js
  frontend/src/assets/css/FileUpload.css
  frontend/src/components/molecules/FileUploadModal.js
  frontend/src/components/molecules/LineItemToggleBar.js
  frontend/src/components/molecules/Modal.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
Labels: Frontend

#193 Be refactor#305 pjh 협업 목록 조회 페이징 처리
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
Labels: Backend

#195 Be refactor#305 pjh 문의 목록 조회 페이징 처리
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
Labels: Backend

#197 Fe feat#347 bhj voc col
  frontend/src/components/organisms/ColTable.js
Labels: Frontend

#200 Be feat#353 pjh voc chatbot api
  backend/src/main/java/com/pobluesky/backend/domain/chat/controller/ChatController.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/dto/request/ChatRequestMsgDto.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/dto/response/ChatCompletionDto.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/dto/response/OrderInquiryResponse.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/dto/response/ProductInquiryResponse.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/dto/response/RegistrationInquiryResponse.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/entity/type/ChatInquirySubType.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/entity/type/ChatInquiryType.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ChatbotService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/GptPromptService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/IntegratedOcrGptService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/OcrService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/PdfConversionService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#201 Be refactor#353 pjh chatbot response refactoring
  backend/src/main/java/com/pobluesky/backend/domain/chat/dto/response/OrderInquiryResponse.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ChatbotService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/prompt/chatbot_prompt.txt
Labels: Backend

#204 Be feat#359 syj mobile notification api
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Industry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/InquiryType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/controller/MobileNotificationController.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/FcmMessage.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/dto/response/MobileNotificationResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/entity/Notification.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/repository/ManagerNotificationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/service/FirebaseCloudMessageService.java
  backend/src/main/java/com/pobluesky/backend/domain/notification/service/NotificationService.java
  backend/src/main/java/com/pobluesky/backend/global/config/FirebaseConfig.java
  backend/src/main/java/com/pobluesky/backend/global/config/SecurityConfig.java
Labels: Backend

#198 Be refactor#345 bhj voc col refactoring
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  frontend/src/assets/css/Voc.css
  frontend/src/assets/css/icons/count-collaboration.svg
  frontend/src/assets/css/icons/count-completed.svg
  frontend/src/assets/css/icons/count-ready.svg
  frontend/src/assets/css/icons/count-total.svg
  frontend/src/components/atoms/Input.js
  frontend/src/components/molecules/ColCreatedDate.js
  frontend/src/components/molecules/ColFindManagerModal.js
  frontend/src/components/molecules/ColStatus.js
  frontend/src/components/molecules/QuestoinInquirySearchModal.js
  frontend/src/components/organisms/ColResFilterPannel.js
  frontend/src/components/organisms/ColSearchInput.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/organisms/InquiryProgressChart.js
  frontend/src/components/organisms/QuestionOverview.js
  frontend/src/components/organisms/QuestionTable.js
  frontend/src/components/organisms/VocOverview.js
  frontend/src/components/templates/ColDashboard.js
  frontend/src/components/templates/QuestionDashboard.js
Labels: Frontend, Backend

#203 pbs-363--feat: Mobile Dashboard Controller
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/MobileDashboardController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/MobileInquiryController.java
Labels: Backend

#202 Fe feat#348 bjy chatbot component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/api/chatbot.js
  frontend/src/assets/css/ChatbotIcon.css
  frontend/src/assets/css/icons/ChatbotIcon.png
  frontend/src/assets/css/icons/poseokho.png
  frontend/src/components/organisms/Chatbot.js
  frontend/src/components/templates/Layout.js
Labels: Frontend

#206 Be refactor#353 pjh chatbot response refactoring(코드 버전 수정)
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ChatbotService.java
  backend/src/main/resources/prompt/chatbot_prompt.txt
Labels: Backend

#207 Be refactor#374 pjh voc chatbot response fix
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ChatbotService.java
  backend/src/main/resources/prompt/chatbot_prompt.txt
Labels: Backend

#205 Fe feat#347 bhj voc col
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/api/answer.js
  frontend/src/apis/api/question.js
  frontend/src/assets/css/Chart.css
  frontend/src/assets/css/Voc.css
  frontend/src/components/atoms/VocButton.js
  frontend/src/components/molecules/JoinInput.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/AuthenticateUser.js
  frontend/src/components/organisms/EditingUserInfo.js
  frontend/src/components/organisms/InquiryMonthlyOrderChart.js
  frontend/src/components/organisms/InquiryOrderCountChart.js
  frontend/src/components/organisms/InquiryProductProgressChart.js
  frontend/src/components/organisms/InquiryProgressCountChart.js
  frontend/src/components/organisms/QuestionFilterInput.js
  frontend/src/components/organisms/QuestionInput.js
  frontend/src/components/organisms/QuestionList.js
  frontend/src/components/organisms/QuestionTable.js
  frontend/src/components/organisms/QuestionViewer.js
  frontend/src/components/organisms/VocOverview.js
  frontend/src/components/organisms/VocPageButton.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/components/templates/QuestionForm.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/voc-form/VocQuestionForm.js
  frontend/src/utils/actions.js
  frontend/src/utils/validation.js
Labels: Frontend, Backend

#208 Fe refactor#377 bjy chatbot refactor
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ChatbotService.java
  frontend/src/assets/css/ChatbotIcon.css
  frontend/src/components/organisms/Chatbot.js
Labels: Frontend

#209 Fe refactor#347 bhj col
  frontend/src/apis/api/manager.js
  frontend/src/apis/api/question.js
  frontend/src/assets/css/ChatbotIcon.css
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/Voc.css
  frontend/src/components/molecules/ColFindManagerModal.js
  frontend/src/components/molecules/QuestionInquirySearchModal.js
  frontend/src/components/molecules/QuestoinInquirySearchModal.js
  frontend/src/components/molecules/UserInfoModal.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColFindManagerButton.js
  frontend/src/components/organisms/ColReqFilterPannel.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/QuestionViewer.js
  frontend/src/components/templates/ColForm.js
  frontend/src/components/templates/QuestionForm.js
  frontend/src/pages/account/UserAccount.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
Labels: Frontend

#213 Update README.md
  README.md
Labels: documentation

#211 Fe refactor#300 bjy ocr loading
  frontend/src/assets/css/FileUpload.css
  frontend/src/components/molecules/FileUploadModal.js
  frontend/src/components/molecules/LineItemToggleBar.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/utils/actions.js
Labels: Frontend

#210 pbs-347--feat: 협업 도메인 필터링 조건 추가(협업 응답자 Id, 이름)
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/CollaborationSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/entity/Collaboration.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/public/videos/loading.mp4
  frontend/src/App.js
  frontend/src/assets/css/FileUpload.css
  frontend/src/assets/css/Header.css
  frontend/src/assets/css/Inquiry.css
  frontend/src/assets/css/Voc.css
  frontend/src/components/molecules/FileUploadModal.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/QuestionInquirySearchModal.js
  frontend/src/components/molecules/UserInfoModal.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/ColReqViewer.js
  frontend/src/components/organisms/ColResInput.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/templates/ColDashboard.js
  frontend/src/components/templates/ColReqForm.js
  frontend/src/components/templates/ColResForm.js
  frontend/src/pages/voc-form/VocColReqForm.js
  frontend/src/pages/voc-form/VocColResForm.js
  frontend/src/pages/voc-form/index.js
Labels: Backend

#212 Be refactor#373 pjh inquiry 조회/상세조회 response fix
  backend/.gitignore
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#214 Be feat#384 pjh inquiry manager allocation
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Inquiry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/ManagerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/dto/response/ManagerSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/user/repository/ManagerRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
Labels: Backend

#215 Fe refactor#347 bhj col
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  frontend/src/App.js
  frontend/src/apis/api/answer.js
  frontend/src/apis/api/collaboration.js
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/assets/css/Voc.css
  frontend/src/components/atoms/TextEditor.js
  frontend/src/components/atoms/VocButton.js
  frontend/src/components/molecules/ColFindManagerModal.js
  frontend/src/components/molecules/ColReqManager.js
  frontend/src/components/molecules/ColResManager.js
  frontend/src/components/molecules/ColResModal.js
  frontend/src/components/molecules/ColStatus.js
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/QuestionInquirySearchModal.js
  frontend/src/components/molecules/UserInfoModal.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/AuthenticateUser.js
  frontend/src/components/organisms/ColFindManagerButton.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/ColReqViewer.js
  frontend/src/components/organisms/ColResInput.js
  frontend/src/components/organisms/ColResViewer.js
  frontend/src/components/organisms/ColSearchInput.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/organisms/EditingUserInfo.js
  frontend/src/components/organisms/ExistingUserInfo.js
  frontend/src/components/organisms/QuestionFilterInput.js
  frontend/src/components/organisms/QuestionInput.js
  frontend/src/components/organisms/QuestionList.js
  frontend/src/components/organisms/QuestionTypeSelector.js
  frontend/src/components/organisms/QuestionViewer.js
  frontend/src/components/organisms/VocOverview.js
  frontend/src/components/organisms/VocPageButton.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/ColDashboard.js
  frontend/src/components/templates/ColReqForm.js
  frontend/src/components/templates/ColResForm.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/components/templates/QuestionForm.js
  frontend/src/components/templates/UserAccountOverview.js
  frontend/src/pages/account/UserAccount.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc-form/VocQuestionForm.js
  frontend/src/utils/actions.js
  frontend/src/utils/validation.js
Labels: Frontend, Backend

#218 Be feat#416 bhj dept
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/Department.java
  backend/src/main/java/com/pobluesky/backend/domain/user/entity/UserRole.java
  frontend/src/assets/css/Voc.css
  frontend/src/components/molecules/ColFindManagerModal.js
  frontend/src/components/molecules/QuestionInquirySearchModal.js
  frontend/src/components/organisms/ColFindManagerButton.js
  frontend/src/pages/join/Join.js
Labels: Frontend, Backend

#219 pbs-398--feat: 협업 조회 페이징 연동
  frontend/src/apis/api/collaboration.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/templates/ColResForm.js
Labels: Frontend

#217 Fe fix#392 bjy inquiry construction
  frontend/src/apis/api/manager.js
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/assets/css/Chart.css
  frontend/src/assets/css/FileUpload.css
  frontend/src/assets/css/Form.css
  frontend/src/components/molecules/FileGetItem.js
  frontend/src/components/molecules/FileItem.js
  frontend/src/components/molecules/ManagerModal.js
  frontend/src/components/molecules/QualityFileItem.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/molecules/SearchResult.js
  frontend/src/components/molecules/ToggleBar.js
  frontend/src/components/organisms/Chatbot.js
  frontend/src/components/organisms/InquiryMonthlyOrderChart.js
  frontend/src/components/organisms/InquiryOrderCountChart.js
  frontend/src/components/organisms/InquiryProductProgressChart.js
  frontend/src/components/organisms/InquiryProgressCountChart.js
  frontend/src/components/organisms/inquiry-form/AdditionalRequestForm.js
  frontend/src/components/organisms/inquiry-form/BasicInfoForm.js
  frontend/src/components/organisms/inquiry-form/CollapsibleTable.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/FileForm.js
  frontend/src/components/organisms/inquiry-form/FileFormItem.js
  frontend/src/components/organisms/inquiry-form/FileUpdateForm.js
  frontend/src/components/organisms/inquiry-form/InquiryNewForm.js
  frontend/src/components/organisms/inquiry-form/ManagerBasicInfoForm.js
  frontend/src/components/organisms/inquiry-form/ManagerTable.js
  frontend/src/components/organisms/inquiry-form/Row.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityFileForm.js
  frontend/src/components/organisms/inquiry-form/quality-item/QualityFileFormItem.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/utils/actions.js
Labels: Frontend

#221 Fe fix#392 bjy inquiry bug fix refactor
  backend/src/main/java/com/pobluesky/backend/domain/notification/service/NotificationService.java
  frontend/public/assets/js/main.js
  frontend/src/assets/css/ChatbotIcon.css
  frontend/src/assets/css/FileUpload.css
  frontend/src/assets/css/Form.css
  frontend/src/assets/css/Inquiry.css
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/molecules/StepTracker.js
  frontend/src/components/molecules/ToggleBar.js
  frontend/src/components/organisms/Chatbot.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/components/organisms/inquiry-form/InquiryNewForm.js
  frontend/src/components/organisms/inquiry-form/ManagerBasicInfoForm.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-form/CustomerInqUpdateForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/LineItemTableForm.js
  frontend/src/pages/inq-item/LineItemTableItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-item/index.js
  frontend/src/pages/intro/section/GraphStyle.js
  frontend/src/utils/actions.js
Labels: Frontend, Backend

#220 Fe feat#398 bhj quesetion auth
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/api/inquirySearch.js
  frontend/src/apis/utils/authUtils.js
  frontend/src/assets/css/Form.css
  frontend/src/assets/css/Voc.css
  frontend/src/assets/css/icons/count-collaboration.svg
  frontend/src/assets/css/icons/count-completed.svg
  frontend/src/assets/css/icons/count-ready.svg
  frontend/src/assets/css/icons/count-total.svg
  frontend/src/components/molecules/ColCreatedDate.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/molecules/QuestionInquirySearchModal.js
  frontend/src/components/organisms/ColResViewer.js
  frontend/src/components/organisms/ColSearchInput.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/organisms/QuestionInput.js
  frontend/src/components/organisms/QuestionList.js
  frontend/src/components/organisms/QuestionTypeSelector.js
  frontend/src/components/organisms/QuestionViewer.js
  frontend/src/components/organisms/VocOverview.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/ColDashboard.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/components/templates/QuestionForm.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/index.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/join/Join.js
  frontend/src/pages/login/Login.js
  frontend/src/pages/voc-form/VocQuestionForm.js
  frontend/src/utils/actions.js
Labels: Frontend

#223 pbs-392--hotfix: fileName null 에러 fix
  frontend/src/assets/css/Form.css
  frontend/src/components/organisms/inquiry-form/FileUpdateForm.js
Labels: Frontend

#222 pbs-398--fix: 알림 개수 호출 코드 추가
  frontend/src/assets/css/Auth.css
  frontend/src/assets/css/Form.css
  frontend/src/assets/css/Voc.css
  frontend/src/components/molecules/Header.js
Labels: Frontend

#224 Fe fix#390 bjy inquiry search box
  frontend/src/assets/css/FileUpload.css
  frontend/src/assets/css/Form.css
  frontend/src/assets/css/Header.css
  frontend/src/components/molecules/LineItemToggleBar.js
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/molecules/ToggleBar.js
  frontend/src/components/organisms/inquiry-form/AdditionalRequestForm.js
  frontend/src/components/organisms/inquiry-form/BasicInfoForm.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/FileForm.js
  frontend/src/components/organisms/inquiry-form/FileFormItem.js
  frontend/src/components/organisms/inquiry-form/FileUpdateForm.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/components/organisms/inquiry-form/InquiryNewForm.js
  frontend/src/components/organisms/inquiry-form/InquirySearchBox.js
  frontend/src/components/organisms/inquiry-form/ManagerBasicInfoForm.js
  frontend/src/components/organisms/inquiry-form/Offersheet.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityFileForm.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityForm.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityText.js
  frontend/src/components/organisms/inquiry-form/quality-item/QualityFileFormItem.js
  frontend/src/components/organisms/inquiry-form/quality-item/QualityItem.js
  frontend/src/components/organisms/inquiry-form/quality-item/QualityReviewTextFormItem.js
  frontend/src/components/organisms/inquiry-form/quality-item/QualityTextItem.js
  frontend/src/components/organisms/inquiry-form/review-form/FinalReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/review-form/ReviewText.js
  frontend/src/components/organisms/inquiry-form/review-form/ReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/review-form/SalesInfoForm.js
  frontend/src/components/organisms/inquiry-form/review-item/FinalReviewTextFormItem.js
  frontend/src/components/organisms/inquiry-form/review-item/ReviewTextFormItem.js
  frontend/src/components/organisms/inquiry-form/review-item/ReviewTextItem.js
  frontend/src/components/organisms/inquiry-form/review-item/SalesInfoFormItem.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/utils/inquiry.js
Labels: Frontend

#225 pbs-399--feat: 쿠키 삭제 로직 수정 + 문의 등록 버튼 추가
  frontend/src/assets/css/Voc.css
  frontend/src/components/molecules/UserInfoModal.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/context/auth/AuthContext.js
Labels: Frontend

#216 Be feat#413 syj mobile inquiry no add
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/MobileQuestionSummaryResponseDTO.java
Labels: Backend

#226 pbs-399--fix: 코드 누락 추가
  frontend/src/components/organisms/ColReqInput.js
Labels: Frontend

#227 Be feat#402 bhj dashboard
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  frontend/src/assets/css/Voc.css
Labels: Frontend, Backend

#228 Infra feat#433 ksy file upload security
  .gitignore
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/file/controller/FileUploadController.java
  backend/src/main/java/com/pobluesky/backend/domain/file/service/FileService.java
  frontend/src/apis/api/file.js
  frontend/src/components/molecules/FileGetItem.js
  frontend/src/components/organisms/ColResViewer.js
  frontend/src/components/organisms/QuestionViewer.js
  frontend/src/components/organisms/inquiry-form/FileFormItem.js
  frontend/src/components/organisms/inquiry-form/FileUpdateForm.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/ColReqForm.js
  frontend/src/components/templates/ColResForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
Labels: Frontend, Backend, Infra

#229 pbs-402--refactor: 프리티어 적용 + 개행 정리
  frontend/src/apis/api/file.js
  frontend/src/components/molecules/FileGetItem.js
  frontend/src/components/organisms/ColResViewer.js
  frontend/src/components/organisms/inquiry-form/FileFormItem.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/ColReqForm.js
  frontend/src/components/templates/ColResForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
Labels: Frontend, Backend

#230 Be refactor#378 pjh inquiry ocr prompt refactoring
  backend/src/main/java/com/pobluesky/backend/domain/chat/controller/ChatController.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ChatbotService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/IntegratedOcrGptService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
Labels: Backend

#232 Be refactor#454 pjh inquiry summary dto fix
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
  backend/src/main/resources/data.sql
Labels: Backend

#233 Fe feat#402 bhj voc col update
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/file/service/FileService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/QuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/resources/data.sql
  frontend/src/apis/api/collaboration.js
  frontend/src/assets/css/Voc.css
  frontend/src/components/molecules/Header.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/ColResInput.js
  frontend/src/components/organisms/ColSearchInput.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/organisms/QuestionFilterInput.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/ColDashboard.js
  frontend/src/components/templates/QuestionDashboard.js
  frontend/src/components/templates/QuestionForm.js
Labels: Frontend, Backend

#234 pbs-454--refactor: quality manager 부서 추가
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryRepositoryImpl.java
Labels: Backend
