Repository pobluesky/customer-inquiry-system, pull requests merged in 2024-10, with the labels that each got.

#237 Be feat#386 pjh inquiry lineitem fileupload 확장자 추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/chat/controller/ChatController.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ChatbotService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ExcelConversionService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/FileConversionService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/GptPromptService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/IntegratedOcrGptService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/OcrService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/PdfConversionService.java
  backend/src/main/java/com/pobluesky/backend/global/error/ErrorCode.java
  backend/src/main/resources/prompt/car_prompt.txt
  backend/src/main/resources/prompt/cold_rolled_prompt.txt
  backend/src/main/resources/prompt/hot_rolled_prompt.txt
  backend/src/main/resources/prompt/thick_plate_prompt.txt
  backend/src/main/resources/prompt/wire_rod_prompt.txt
Labels: Backend

#236 Fe feat#437 bhj voc file
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/request/AnswerUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/request/CollaborationModifyRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/request/CollaborationUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/request/QuestionUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  frontend/src/App.js
  frontend/src/apis/api/question.js
  frontend/src/components/molecules/Header.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColReqViewer.js
  frontend/src/components/organisms/ColResInput.js
  frontend/src/components/organisms/ColResViewer.js
  frontend/src/components/organisms/ColTable.js
  frontend/src/components/organisms/QuestionInput.js
  frontend/src/components/templates/ColResForm.js
  frontend/src/context/auth/AuthContext.js
Labels: Frontend, Backend

#240 Fe hotfix#447 bjy inquiry update
  frontend/src/components/atoms/ColPath.js
  frontend/src/components/atoms/VocPath.js
  frontend/src/components/molecules/FileUploadModal.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-list/card/CustomerInqList.js
  frontend/src/pages/inq-list/card/SalesManagerInqList.js
Labels: Frontend

#241 Be feat#467 ksy file upload modify hotfix
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/request/InquiryUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  frontend/src/components/organisms/inquiry-form/FileUpdateForm.js
Labels: Frontend, Backend

#239 pbs-454--add: ai prompt gitignore 추가
  backend/.gitignore
  backend/src/main/resources/prompt/car_prompt.txt
  backend/src/main/resources/prompt/chatbot_prompt.txt
  backend/src/main/resources/prompt/cold_rolled_prompt.txt
  backend/src/main/resources/prompt/hot_rolled_prompt.txt
  backend/src/main/resources/prompt/thick_plate_prompt.txt
  backend/src/main/resources/prompt/wire_rod_prompt.txt
Labels: Backend

#242 Be feat#459 bhj fix data.sql
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/resources/data.sql
  frontend/package-lock.json
  frontend/package.json
Labels: Backend

#243 Be feat#467 ksy file upload modify hotfix
  backend/.gitignore
  backend/src/main/java/com/pobluesky/backend/domain/file/service/FileService.java
  frontend/src/components/molecules/RequestBar.js
Labels: Backend

#244 Fe feat#441 bjy inquiry update
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/assets/css/FileUpload.css
  frontend/src/assets/css/Form.css
  frontend/src/components/atoms/ProfileCircle.js
  frontend/src/components/molecules/FileUploadModal.js
  frontend/src/components/molecules/MyInquiryList.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/molecules/ToggleBar.js
  frontend/src/components/organisms/inquiry-form/CollapsibleTable.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/Offersheet.js
  frontend/src/components/organisms/inquiry-form/Offertable.js
  frontend/src/components/organisms/inquiry-form/Row.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityText.js
  frontend/src/components/organisms/inquiry-form/review-form/FinalReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/review-form/SalesInfoForm.js
  frontend/src/components/organisms/inquiry-form/review-item/SalesInfoFormItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/pages/inq-list/CustomerInqTableList.js
  frontend/src/pages/inq-list/QualityManagerInqTableList.js
  frontend/src/pages/inq-list/SalesManagerInqTableList.js
  frontend/src/utils/inquiry.js
Labels: Frontend

#245 Be feat#408 syj mobile review server
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/MobileInquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquirySummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Industry.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/InquiryType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/ProductType.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/Progress.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/controller/MobileQuestionController.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/MobileQuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/QuestionStatus.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/QuestionType.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryCustom.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/java/com/pobluesky/backend/domain/review/controller/MobileReviewController.java
  backend/src/main/java/com/pobluesky/backend/domain/review/dto/response/ReviewResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/review/entity/SalesInfo.java
  backend/src/main/java/com/pobluesky/backend/domain/review/service/ReviewService.java
  backend/src/main/java/com/pobluesky/backend/global/config/SecurityConfig.java
Labels: Backend

#246 Be feat#444 pjh inquiry log api
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/ExcelConversionService.java
  backend/src/main/java/com/pobluesky/backend/domain/chat/service/PdfConversionService.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/InquiryLogResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/entity/InquiryLog.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/repository/InquiryLogRepository.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#248 pbs-454--hotfix: inquiryService 충돌 해결
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#250 pbs-466--hotfix: inquiry log, inquiry 데이터 수정
  backend/src/main/resources/data.sql
Labels: Backend

#247 Be feat#459 bhj cache
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/answer/controller/AnswerController.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/request/AnswerCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/dto/response/MobileAnswerSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/answer/service/AnswerService.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/request/CollaborationCreateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/request/CollaborationUpdateRequestDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/CollaborationDetailResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/CollaborationSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/ManagerResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/entity/Collaboration.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/repository/CollaborationRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/api/chart.js
  frontend/src/apis/api/question.js
  frontend/src/assets/css/Chart.css
  frontend/src/assets/css/FileUpload.css
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/InquiryMonthlyOrderChart.js
  frontend/src/components/organisms/InquiryOrderCountChart.js
  frontend/src/components/organisms/InquiryOrderCountManagerChart.js
  frontend/src/components/organisms/InquiryOrderCountTotalChart.js
  frontend/src/components/organisms/InquiryOrderPeriodChart.js
  frontend/src/components/organisms/InquiryProductProgressChart.js
  frontend/src/components/organisms/InquiryProgressCountChart.js
  frontend/src/components/organisms/InquiryProgressCountManagerChart.js
  frontend/src/components/organisms/InquiryProgressCountTotalChart.js
  frontend/src/context/auth/AuthContext.js
  frontend/src/pages/dashboard/DashBoard.js
Labels: Frontend, Backend

#249 Fe feat#448 bjy inquiry test fix
  frontend/src/assets/css/Header.css
  frontend/src/components/molecules/DepartmentInquiryCount.js
  frontend/src/components/molecules/FileGetItem.js
  frontend/src/components/molecules/Modal.js
  frontend/src/components/molecules/NotificationModal.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/components/organisms/inquiry-form/CustomerTable.js
  frontend/src/components/organisms/inquiry-form/Offertable.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityForm.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/quality-form/QualityText.js
  frontend/src/components/organisms/inquiry-form/review-form/FinalReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/review-form/ReviewText.js
  frontend/src/components/organisms/inquiry-form/review-form/ReviewTextForm.js
  frontend/src/components/organisms/inquiry-form/review-form/SalesInfoForm.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
Labels: Frontend

#254 pbs-449--feat: Inquiry Log
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/api/inquiry.js
  frontend/src/apis/utils/inquiryUtils.js
  frontend/src/components/atoms/ProfileCircle.js
  frontend/src/components/molecules/DepartmentInquiryCount.js
  frontend/src/components/molecules/InquiryLogs.js
  frontend/src/components/molecules/MyInquiryList.js
  frontend/src/components/molecules/MyStepTracker.js
  frontend/src/components/molecules/ToggleBar.js
  frontend/src/components/organisms/inquiry-form/ManagerBasicInfoForm.js
  frontend/src/pages/dashboard/DashBoard.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
Labels: Frontend

#253 pbs-455--refactor: mobile inquiry dto - 담당자, customId 추가
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquiryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/dto/response/MobileInquirySummaryResponseDTO.java
Labels: Backend

#251 Be feat#468 syj redis distributed lock
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/global/redisson/AopForTransaction.java
  backend/src/main/java/com/pobluesky/backend/global/redisson/CustomSpringELParser.java
  backend/src/main/java/com/pobluesky/backend/global/redisson/DistributedLock.java
  backend/src/main/java/com/pobluesky/backend/global/redisson/DistributedLockAop.java
  backend/src/main/java/com/pobluesky/backend/global/redisson/LockKeyGenerator.java
  backend/src/main/java/com/pobluesky/backend/global/redisson/RedissonConfig.java
  backend/src/test/java/com/pobluesky/backend/domain/collaboration/service/CollaborationServiceTest.java
Labels: Backend

#255 Fe hotfix#459 bhj dashboard
  frontend/src/assets/css/Chart.css
  frontend/src/components/molecules/MyInquiryList.js
  frontend/src/pages/dashboard/DashBoard.js
Labels: Frontend

#256 Fe feat#453 bhj voc path
  backend/src/main/java/com/pobluesky/backend/global/config/CacheConfig.java
  frontend/src/assets/css/Voc.css
  frontend/src/components/atoms/ColPath.js
  frontend/src/components/atoms/VocPath.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/ColResForm.js
  frontend/src/pages/voc-form/VocAnswerForm.js
  frontend/src/pages/voc-form/VocColReqForm.js
  frontend/src/pages/voc-form/VocColResForm.js
  frontend/src/pages/voc-form/VocQuestionForm.js
  frontend/src/pages/voc-list/VocColList.js
Labels: Frontend

#257 Fe fix#449 bjy inq quality path
  frontend/src/components/molecules/ToggleBar.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
Labels: Frontend

#260 pbs-460--hotfix: 품질 담당자 배정 시 로그 안 찍히는 이슈 해결
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/controller/InquiryController.java
  backend/src/main/java/com/pobluesky/backend/domain/inquiry/service/InquiryService.java
Labels: Backend

#262 pbs-469--docs question and answer data.sql
  backend/src/main/resources/data.sql
Labels: Backend

#261 Be add#461--chore: lineitem data 수정
  backend/src/main/resources/data.sql
Labels: Backend

#263 Fe fix#449 bjy manager notification fix
  backend/src/main/java/com/pobluesky/backend/domain/user/controller/ManagerController.java
  backend/src/main/java/com/pobluesky/backend/domain/user/service/ManagerService.java
  frontend/src/apis/api/manager.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
Labels: Frontend, Backend

#264 Be fix#461 bjy data setting
  backend/src/main/resources/data.sql
Labels: Backend

#265 pbs-462--hotfix: 데이터 증량에 따른 에러 해결
  backend/src/main/resources/data.sql
  frontend/src/components/molecules/MyInquiryList.js
  frontend/src/components/molecules/RequestBar.js
  frontend/src/pages/inq-form/CustomerInqForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/QualityManagerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
  frontend/src/utils/inquiry.js
Labels: Frontend, Backend

#266 Fe feat#453 bhj 캐시 삭제
  backend/build.gradle
  backend/src/main/java/com/pobluesky/backend/BackendApplication.java
  backend/src/main/java/com/pobluesky/backend/domain/question/service/QuestionService.java
  backend/src/main/java/com/pobluesky/backend/global/config/CacheConfig.java
  frontend/src/components/organisms/QuestionList.js
Labels: Backend

#268 pbs-453--feat: Question 테이블 col_id 삭제 및 로직 수정
  backend/src/main/java/com/pobluesky/backend/domain/answer/entity/Answer.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/controller/CollaborationController.java
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/service/CollaborationService.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/dto/response/QuestionSummaryResponseDTO.java
  backend/src/main/java/com/pobluesky/backend/domain/question/entity/Question.java
  backend/src/main/java/com/pobluesky/backend/domain/question/repository/QuestionRepositoryImpl.java
  frontend/src/apis/api/collaboration.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/templates/AnswerForm.js
  frontend/src/components/templates/ColResForm.js
  frontend/src/components/templates/QuestionDashboard.js
Labels: Frontend, Backend

#269 pbs-453--fix: Question 페이지에서 Inquiry 체번 로직 수정
  frontend/src/components/organisms/QuestionViewer.js
Labels: Frontend

#270 Fe feat#453 bhj voc path
  frontend/src/components/molecules/QuestionInquirySearchModal.js
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColReqInput.js
  frontend/src/components/organisms/ColResInput.js
  frontend/src/components/organisms/QuestionViewer.js
Labels: Frontend

#267 Fe fix#462 bjy issue fix
  frontend/src/components/molecules/FileUploadModal.js
  frontend/src/components/organisms/inquiry-form/InquiryHistoryForm.js
  frontend/src/pages/inq-item/CustomerInqItem.js
  frontend/src/pages/inq-item/SalesManagerInqItem.js
Labels: Frontend

#271 pbs-463--hotfix: 업로드 에러
  frontend/src/components/molecules/FileUploadModal.js
Labels: Frontend

#272 Fe feat#453 bhj error fix
  backend/src/main/java/com/pobluesky/backend/domain/collaboration/dto/response/CollaborationDetailResponseDTO.java
  frontend/src/components/organisms/AnswerInput.js
  frontend/src/components/organisms/ColReqViewer.js
  frontend/src/components/organisms/ColResViewer.js
Labels: Frontend, Backend

#274 pbs-develop--hotfix: 정상 데이터 오류 처리 이슈 수정
  frontend/src/components/molecules/LineItemToggleBar.js
Labels: Frontend

#275 pbs-develop--feat: 알림창 출력 로직 수정
  frontend/src/components/molecules/LineItemToggleBar.js
Labels: Frontend
